<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlw.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.mlw.entity.SysRoleMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="roleId" jdbcType="VARCHAR" property="roleid" />
    <result column="menuId" jdbcType="VARCHAR" property="menuid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roleId, menuId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_role_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mlw.entity.SysRoleMenu">
    insert into sys_role_menu (id, roleId, menuId
      )
    values (#{id,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, #{menuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mlw.entity.SysRoleMenu">
    insert into sys_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleid != null">
        roleId,
      </if>
      <if test="menuid != null">
        menuId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="menuid != null">
        #{menuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlw.entity.SysRoleMenu">
    update sys_role_menu
    <set>
      <if test="roleid != null">
        roleId = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="menuid != null">
        menuId = #{menuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlw.entity.SysRoleMenu">
    update sys_role_menu
    set roleId = #{roleid,jdbcType=VARCHAR},
      menuId = #{menuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>